# Interface: ValidationResult

Defined in: engine/validate.ts:11

## Properties

### issues

> **issues**: [`ValidationIssue`](ValidationIssue.md)[]

Defined in: engine/validate.ts:12

***

### valid

> **valid**: `boolean`

Defined in: engine/validate.ts:13
